<section class="content-overlay">
  <h2>Sechaba Sa Rena</h2>
  <p>A community platform for news and opportunities</p>
  <div class="container">
    <div>
      <!-- App Store button -->
      <a href="https://www.sechaba-portal.netlify.app/" target="_blank" class="market-btn apple-btn" role="button">
        <span class="market-button-subtitle">Download on the</span>
        <span class="market-button-title">App Store</span>
      </a>
      <!-- Google Play button -->
      <a href="https://www.sechaba-portal.netlify.app/" target="_blank" class="market-btn google-btn" role="button">
        <span class="market-button-subtitle">Download on the</span>
        <span class="market-button-title">Google Play</span>
      </a>
    </div>
  </div>
</section>

<!-- About Section -->
<video autoplay muted loop class="video-background">
  <source [src]="video" type="video/mp4" />
  Your browser does not support HTML5 video.
</video>
