<mat-card appearance="outlined">
  <mat-card-content>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID. </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- SURNAME Column -->
        <ng-container matColumnDef="leadership">
          <th mat-header-cell *matHeaderCellDef> Surname </th>
          <td mat-cell *matCellDef="let element"> {{element.leadership}} </td>
        </ng-container>

        <!-- Users Column -->
        <ng-container matColumnDef="users">
          <th mat-header-cell *matHeaderCellDef> Users </th>
          <td mat-cell *matCellDef="let element"> {{element.users}} </td>
        </ng-container>

        <!-- View Column -->
        <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef>View</th>
          <td mat-cell *matCellDef="let element">
            <a [routerLink]="'/dashboard/villages/map-view/' + element.id">
              <mat-icon aria-hidden="false"  [fontIcon]="'launch'"></mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
